[2015-02-22 11:27] laurentlemaire opened #3 "Blade:extend"
How do you get the blade::extend to work?

I have a file containing several Blade:extend that is loaded in my global.php.
I've also tried to do it in my controller juste above the call to StringView::make but it doesn't take the blade extends into account.

Note that it works fine when working with the default Blade compiler...
Thx!

[2015-02-22 15:40] TerrePorter commented on #3
To create a extend for the StringView,
[code]
I see that I uses Blade:extend in the readme.

I'll up date the info readme as I see it can be misleading.

[2015-02-22 15:57] TerrePorter commented on #3
I tend to do this when I need the same extend function in both Blade and StringView.

[code]

[2015-03-01 09:56] laurentlemaire commented on #3
Thanks!

[2015-03-01 21:55] #3 closed

[2015-03-12 11:14] TomCaserta opened #5 "Simplest template gives "StringView::_toString()" must not throw an exception when using variables"
StringView::make(
                array(
                    // this actual blade template
                    'template' => '{{ $img-src-one }}',
                    'cache_key' => "somename",
                    'updated_at' => 0
                ),
                array( "img-src-one" => "TEST")
        );

Is the exact code I am using to test this, The error returned (fairly useless) is:

    F

[2015-03-12 11:40] TomCaserta commented on #5
Okay my mistake. I dont know why I expected - in variable names to work. I just completely forgot about the naming rules for some reason.

The error that caused the actual error not to show was:

A) Laravels error getMessage method on the compiler engine calls realpath incorrectly. Had to comment it out to get the actual error.

B) Using toString instead of ->render()

[2015-03-12 11:40] #5 closed

[2015-12-23 15:35] TerrePorter opened #9 "Usage with barryvdh/laravel-debugbar"
Just a note, here as a submitted patch has not been added to the main repo.

Related to StringBladeCompiler version 3.0 and 3.2.

If you use https://github.com/barryvdh/laravel-debugbar with StringBlade, you will get an error - "realpath() expects parameter 1 to be valid path, object given"

This is because the debugbar expects the view it receives to be a file string.

To fix you will need to man

[2016-01-20 02:57] dciancu opened #10 "Use StyleCI"
Hello!

Just a friendly invitation to activate https://styleci.io for your project.

[2016-02-01 08:49] delatbabel opened #11 "Why not extend?"
Hi,

I have started using this extension as a base for this one that I'm currently writing: https://github.com/delatbabel/viewpages

I have a question relating to your build, I'm currently using the 3.0 branch. Maybe I'm missing something so perhaps you can explain it to me a bit better.

Why aren't you making your classes extend the Laravel base classes and use the functionality that's already th

[2016-02-01 15:18] TerrePorter commented on #10
Perhaps in the future, thanks for the suggestion.

[2016-02-01 15:18] #10 closed, assigned to nobody

[2016-02-01 15:20] dciancu commented on #10
@TerrePorter it's free and it will format code according to PHP-FIG standards. I was extending your package and it's not very nice to work with code in all directions...

Anyway, thank for the package, great job!

[2016-02-01 15:36] TerrePorter commented on #11
Thanks for the suggestion.

I think it was just easier to mirror the factory class instead of extending the view\factory because of how laravel references function variables.

Extending the Illuminate\View\Factory causes these errors to pop up,

[code]

This is almost endless, and I was not able to find a way to prevent it. So the solution was to clone the base factory classes and update the class

[2016-02-01 15:49] TerrePorter commented on #10
@danieliancu I have it bookmarked, but just a little swamped right now to really dig in to it.

Also, If you think any of your "extending of the package" changes could benefit the package as a whole, I'm open to looking at including them.

[2016-02-01 18:13] dciancu commented on #10
@TerrePorter Thank you for the reply. I'm extending to implement a case specific use, but I'll give it some thinking to how I can generalize it.

[2016-02-02 01:21] delatbabel commented on #11
Hi,

[code]

Yes I hear what you're saying. What Taylor should have done (I've pointed this out a few times and will now start raising bug tickets because it's really poor coding style) is to declare an interface with the methods of Illuminate\View\View and then have the function take a parameter of that interface, then you can redeclare the function taking a parameter of that interface without an

[2016-02-02 14:23] delatbabel commented on #11
Well believe it or not, it actually worked.

https://github.com/delatbabel/viewpages

I managed it with only minimal extensions of your classes -- declaring child classes only when I needed to and extending in all cases -- using the functions you provided for everything that I didn't need to extend.

I have it working in a test app here but I don't have phpunit tests yet.

[2016-02-02 15:03] TerrePorter commented on #11
Awesome! That is a nice small package (small being a good thing). I can see where it can be useful.

I agree with you on this, "..declare an interface with the methods of Illuminate\View\View and then have the function take a parameter of that interface, then you can redeclare the function taking a parameter of that interface without any issues..", it makes extending the base Laravel package a pai

[2016-02-09 07:42] ghost opened #12 "Do not compile view file"
Hi, we are using your package for sending email using templates that are entered using the database. However, these views will always be different and our views directory is getting huge, and it's starting to give problems for the server.

Can you disable the creating of this compiled view file, or return the view path so we can immediately delete it, or create an option to delete it after usage.

[2016-02-09 14:45] TerrePorter commented on #12
It sounds like a good idea to delete the cache file for the generated views.

Which version of StringBladeCompiler are you using?

[2016-02-09 17:05] TerrePorter commented on #12
I've updated version 3.0 and 3.2, with new function setDeleteViewCacheAfterRender

Released versions, 3.0.1 and 3.2.1, should be able to do a composer update and pull in those version updates respectively.

I'm getting pulled away, so might be a bit before I can get the update for version 1 (Laravel 4.2) and 2 (Laravel 5.0).

An example for version 3+ of how I run the function,

[code]

[2016-02-12 23:30] TerrePorter commented on #12
@thijsdemaa Did that help fix the problem your having? I have not yet made it the other version of the compiler, if your not using v2.

[2016-02-18 15:13] TerrePorter commented on #9
The submitted patch has been accepted and merged.

[2016-02-18 15:13] #9 closed, assigned to TerrePorter

[2016-02-26 05:43] delatbabel commented on #11
OK well I might try doing a refactor on the 3.0 branch (because Laravel 5.1 is what I'm using) so that the package extends the Laravel classes rather than overwrites the functionality. That should make it portable up to new versions of Laravel a bit easier.

My other interest is integrating the functionality of something like this https://github.com/rcrowe/TwigBridge which would require being able

[2016-03-02 16:47] netjordan opened #16 "Class 'StringCompilerException' not found"
In Laravel 5 I'm getting the following error (obviously I understand why this is appearing)

FatalErrorException in StringView.php line 68:
Class 'StringCompilerException' not found in StringView.php line 68

[2016-03-02 16:59] TerrePorter commented on #16
@netjordan It looks like the StringCompilerException file is using a different namespace, Wpb\StringBladeCompiler\Exceptions vs Wpb\StringBladeCompiler

Can you test and see if changing the use statement in the StringView (https://github.com/TerrePorter/StringBladeCompiler/blob/2.0/src/Wpb/StringBladeCompiler/StringView.php#L11) to Wpb\StringBladeCompiler\Exceptions\StringCompilerException fixes t

[2016-03-04 16:06] TerrePorter commented on #11
Merged the submitted code modifications, so that closes this issue.

[2016-03-04 16:06] #11 closed, assigned to TerrePorter

[2016-03-04 16:07] TerrePorter commented on #12
@thijsdemaa Woo Hooo... have you had a chance to try the changes out ?

[2016-03-04 18:49] ghost commented on #12
Hi, @TerrePorter, I'm very sorry for getting back to you so late. I discovered the problem lied not within the package, but our project. We were compiling the texts twice, and that caused it to create a lot of view-files. However, the option to delete the file after compiling is very useful, and we will definitely use it. Thanks!

[2016-03-04 19:12] TerrePorter commented on #12
@thijsdemaa ok, I just wanted to make sure and close this ticket out if it had fixed the problem. Thanks for getting back with me.

[2016-03-04 19:12] #12 closed, assigned to nobody

[2016-03-08 10:49] IvoDof opened #18 "Blade::directive() does not seem to work."
When we use:

[code]

And have @block() in our string template, we import with.
`$view = view(['template' => $template])->with($variables);`

It does not seem to know the directive.
Even if we dd() inside the compileStatements function we get a empty $customDirectives.

Do i need to register the directive in a other way?

[2016-03-08 14:07] TerrePorter commented on #18
If you want the directive in both normal blade file templates then you would use

[code]

For the string blade it would be ...

[code]

If you want both FileTemplates and StringTemplates to use the directive then you will need something like this or you would need to duplicate the code for each directive.

[code]

Let me know if that helps.

[2016-03-09 02:19] TerrePorter commented on #16
fixed namespace for StringCompilerException

[2016-03-09 02:19] #16 closed, assigned to nobody

[2016-03-30 12:46] IvoDof commented on #18
Sorry for the late response, it indeed solved it.

[2016-03-30 13:02] TerrePorter commented on #18
Glad it solved the problem.

[2016-03-30 13:02] #18 closed, assigned to nobody

[2016-07-04 19:57] jhhazelaar opened #19 "Call to undefined method Wpb\String_Blade_Compiler\Factory::startPush()"
After updating laravel I've got this error:
`Call to undefined method Wpb\String_Blade_Compiler\Factory::startPush() in [project_root]/storage/framework/views/956a4ed4204425c97c4b7ea75a71ed70b9dcbd67.php on line 3`

After some digging around I've found this pull request in laravel repos: https://github.com/laravel/framework/pull/12808

If you look at the file changes of this pull request: https://

[2016-07-05 11:50] TerrePorter commented on #19
Hi @jhhazelaar
I'm assuming that your using the 3.2 version. I've updated the factory class and from what I can tell it is working. If you can test your code and let me know how it goes.

ref: https://github.com/TerrePorter/StringBladeCompiler/commit/73150aa67c37d5404d42ce5557d98f99b9b33ca6

[2016-07-26 10:17] TerrePorter commented on #19
Hey @jhhazelaar Did you get a chance yet to try out the changes?

[2016-07-28 12:56] jhhazelaar commented on #19
Oh sorry for the late response. Everything works fine now, thanks!

[2016-07-28 12:56] #19 closed, assigned to nobody

[2016-07-28 13:48] TerrePorter commented on #19
@jhhazelaar Thanks for the reply. I've push out a new release with the code updates.

[2016-11-10 15:13] ibrentlam opened #21 "Doesn't seem to work in Mailable"
Hello,
In an ordinary controller, this works fine, but when I call the exact same code in a Mailable class, it doesn't do the substitution, as:
 $results = view(['template' => $body], ['unsubscribe' => 'click this link to unsubscribe']);
Any ideas?
Thanks

[2016-11-10 23:57] TerrePorter commented on #21
Hi, sorry just noticed the mail. Family medical emergency this week has the schedule all messed up.

I'm not sure it $result should be the generated template.  I'm assuming that you have confirmed the template contents is valid. Did you dd the $result and see what it creates?

[2016-11-11 00:04] ibrentlam commented on #21
Yes, I tried the exact line of code in a regular controller and it worked
fine.
The result had the template, but with the {{ $unsubscribe }} wasn't
interpolated.

It's nothing time-critical, take the time you need for the family
emergency. Family comes first. Thanks,
Brent

On Thu, Nov 10, 2016 at 6:57 PM, Terre Porter notifications@github.com
wrote:

[2016-12-08 01:23] TerrePorter commented on #21
@ibrentlam Sorry it has taken me so long to get a chance to back to this. Did you get it figured out ?

[2016-12-08 13:37] ibrentlam commented on #21
Terre,

No, I haven't figured it out. Your help would be greatly appreciated, as
I'll be needing it in several other places.

Brent

On Wed, Dec 7, 2016 at 8:23 PM, Terre Porter <notifications@github.com>
wrote:

[2016-12-08 20:20] TerrePorter commented on #21
@ibrentlam The way they have the mailer set it checks for a string name of a view so it fails when trying to send a full stringview object or even an array.

However, I was able to get this to work.

[code]

It should also work even if your not passing the template data as part of the view statement.

Give it a shot and let me know how it goes.

[2017-01-05 13:38] TerrePorter commented on #21
@ibrentlam just checking to see if that worked for you ?

[2017-01-05 13:52] ibrentlam commented on #21
Thanks,

Haven't gotten a chance to try it out. Hopefully will early next week. I'll
keep you posted, Thanks

brent

On Thu, Jan 5, 2017 at 8:38 AM, Terre Porter <notifications@github.com>
wrote:

[2017-03-23 12:57] dimsanchuk commented on #21
@TerrePorter I tried this and it works.

Offtop: Why are there still not released version 3.4?

[2017-03-24 16:26] TerrePorter commented on #21
@Dimsanchuk Glad it worked. I've released a version for 3.4. I was just behind in everything.

[2017-03-25 20:17] dimsanchuk commented on #21
Thanks.

[2017-08-30 17:05] DominiqueFERET opened #23 "A version for Laravel 5.5"
Hello,

Do you plan a version for Laravel 5.5 of your component ?

Best regards,

Dominique

[2017-08-30 17:17] pdbreen commented on #23
@DominiqueFERET passing this link along as a possible work-around/alternative - https://laracasts.com/discuss/channels/general-discussion/render-template-from-blade-template-in-database

[2017-08-30 22:07] DominiqueFERET commented on #23
@pdbreen Just a word to thank you for this trick. I have a very limited use of this feature but losing it would have been blocking.
Thanks again

[2017-08-30 22:07] #23 closed, assigned to nobody

[2017-08-31 18:39] slava-vishnyakov opened #24 "Laravel 5.5"
Any plans to support Laravel 5.5?

This seems to work:
https://github.com/TerrePorter/StringBladeCompiler/compare/3.4...IT-swap:3.5
but it's probably a good idea to create 3.5 branch, but Pull Request doesn't seem to allow to do that

[2017-08-31 23:56] TerrePorter commented on #24
I made a a new branch, https://github.com/TerrePorter/StringBladeCompiler/tree/3.5

I'll test it this weekend, and release a package

[2017-08-31 23:58] TerrePorter commented on #24
oh, apparently there is another way to do something similar, see https://github.com/TerrePorter/StringBladeCompiler/issues/23

[2017-09-02 11:26] TerrePorter commented on #24
@slava-vishnyakov I've merged your changes and released a version. Thanks for the code update, I have been swamped with stuff here and hadn't gotten to it.

[2017-09-02 11:26] #24 closed, assigned to nobody

[2017-09-02 11:27] slava-vishnyakov commented on #24
Excellent, thank you very much! Your library is very helpful for me! Kudos! 👍

[2017-09-02 11:27] TerrePorter commented on #23
@DominiqueFERET FYI, if your still using the package released a Laravel 5.5 version today.

[2017-09-02 11:28] #21 closed, assigned to nobody

[2017-10-05 11:52] triblax opened #27 "can't install it with laravel 5.5.14"
Hello,
I can't install it...
composer require "wpb/string-blade-compiler"
Using version ^3.5 for wpb/string-blade-compiler
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for wpb/string-blade-compile

[2017-10-17 08:52] iturcanu opened #28 "Call to undefined method Wpb\String_Blade_Compiler\Factory::renderWhen()"
Hi,
it seems that here haven't been implemented all methods and when I am calling @includeWhen from my blade template, I am getting this error.

Could you have a look?

Update: I have added the renderWhen function from  Iluminate/View/Factory class and everythign works just great.

Could you add to the repository please?

[2017-10-21 16:03] TerrePorter commented on #27
@triblax i've updated the composer.json to fix this error. Give it another try and let me know how it goes.

[2017-10-21 16:09] TerrePorter commented on #28
@iturcanu Thanks for the information. I've updated the code base to include the renderWhen function.

[2017-10-23 08:28] iturcanu commented on #28
@TerrePorter  thanks for the update, but it seems that these changes have been added to the 3.5 version of the  library, could you update and the 3.4 version as many applications are running on Laravel 5.4 and till update, it would be nice to use all functionality.

Please let me know if I can help you with this.
Best regards,
Ion

[2017-10-23 10:09] TerrePorter commented on #28
@iturcanu ah sorry about that. i've got a busy week this week, but i'll try to work it in, unless you want to submit a pull request. It could be next weekend before i can get the time.

[2017-10-24 05:20] iturcanu commented on #28
@TerrePorter , yes, no problem, I can add needed methods for the 3.4 branch just I can't clone this repository because I get the next message:
git@github.com:TerrePorter/StringBladeCompiler.git: No such file or directory
I guess I don't have needed access rights.

[2017-10-24 10:14] TerrePorter commented on #28
@iturcanu i think you need to make a fork of the repo then make the changes, then submit a pull request merging your changed to the 3.4 branch

[2017-10-24 10:14] TerrePorter commented on #28
opps wrong button

[2017-10-25 14:26] holymp2006 opened #29 "FatalErrorException Declaration of ...\StringBladeCompiler::compile($viewData)"
hi,
I tried to build a mail the way you described in [#21](https://github.com/TerrePorter/StringBladeCompiler/issues/21#issuecomment-265844310), but I get the error:

[code]

I couldn't figure out the problem as the stack trace wasn't helpful.

[2017-11-01 18:41] rafaelgou commented on #29
I have the same issue. It seems to be related to PHP 7.2 - works fine with 7.1.

I think it's more strict. Is that your case?

[2017-11-02 00:33] holymp2006 commented on #29
you're totally right, my version of php was the issue. everything was working fine until I switched to php 7.2 some days ago. I just switched back to 7.1 and everything's back to normal.

Any possible fix with php7.2?

[2017-11-14 16:05] CBox opened #30 "Support for Custom Directives."
Hey,

Great package :) How I can add support for custom directive?

The directive registered at AppServiceProvider in the Boot function.

[code]

Thanks!

[2017-11-15 11:33] TerrePorter commented on #30
I think all you need to do is register the custom directive with StringBlade.

StringBlade::directive('flash'....

[2017-12-25 12:37] CBox commented on #30
Working great, Thanks!

[2017-12-25 12:37] #30 closed, assigned to nobody

[2017-12-27 10:43] petermein commented on #29
Adding:
[code]
Should conform with the parent function, and then maybe throw an exception.

I could make a PR if you like, but what exception would you like to be thrown in case no viewData is thrown?

[2018-02-07 19:41] matthewscalf commented on #29
Any update here? Really need to get this fixed.

[2018-02-08 09:22] hilioski opened #32 "Laravel 5.6 Support ?"
Are you planning to upgrade this package to support Laravel 5.6 version ?

[2018-02-09 17:04] stasoft91 commented on #32
++

[2018-02-21 11:41] TerrePorter commented on #32
@hilioski @stasoft91 New branch released, 3.6, give it a try and see if it works.

[2018-03-02 08:06] nguyenanhthai opened #34 "Still use old view() function ?"
I have followed installation steps, but not work. Someone help pls?

(1/1) ErrorExceptionstrpos() expects parameter 1 to be string, array given
--

[2018-03-09 16:42] JorgeDroid commented on #29
@petermein In which file do I need to add that code?

[2018-03-10 16:02] TerrePorter commented on #29
merged https://github.com/TerrePorter/StringBladeCompiler/pull/35

[2018-03-10 16:06] TerrePorter commented on #34
@nguyenanhthai What version are you using?

[2018-03-11 12:56] martijnc94 opened #36 "Not working for mailables"
I am using the new version 3.6.0

When returning a view in a controller:

return view (['template' => '{{$token}}'], ['token' => 'I am the child template']);

Works fine, but when trying to create a Mailable:

return $this->view (['template' => '{{$token}}'], ['token' => 'I am the child template']);

Creates an empty mail. When I set a file as template, it works fine.

[2018-03-11 13:08] martijnc94 commented on #36
I now use a workaround:

rendering the template like this:
$this->content = \View::make(['template' => '{{$token}}'], ['token' => 'I am the child template'])->render();

and injecting that rendered template as a variable in a template file with contents: "{!! $content !!}"

[2018-03-11 14:24] TerrePorter commented on #36
@martijnc94 I think that is the work around for mailable. I think something similar was mentioned in this ticket https://github.com/TerrePorter/StringBladeCompiler/issues/21

[2018-03-27 13:00] grahami opened #37 "Please add fix for PHP 7.2 to version 3.5"
Could we get the change in #35 in a release for the 3.5 version branch please?

[2018-03-28 21:58] TerrePorter commented on #37
@grahami I've released 3.5.5 which has that change in it.

[2018-04-03 23:59] Dmk88 opened #38 "Class view does not exist"
"wpb/string-blade-compiler": "^3.5.5",
Laravel 5.5
Change app.php: remove Illuminate\View\ViewServiceProvider::class, and add Wpb\String_Blade_Compiler\ViewServiceProvider::class,
result:
Class view does not exist

[2018-04-06 07:27] pontoffeltier commented on #34
Same problem here. Using 3.4 with Laravel 5.4

[2018-04-06 08:16] pontoffeltier commented on #34
Never mind, I forgot to add the ViewServiceProvider to my config/app.php -.-

[2018-06-21 20:13] laf commented on #37
Any chance this could be ported to 3.4 as well?

[2018-06-29 11:11] jayenne commented on #38
me too

[2018-07-16 09:39] pyrochlore commented on #38
me too.
any solution?

[2018-07-17 07:38] pyrochlore commented on #38
Hi,
I have fixed the problem.

For those who met the same problem,
I found the problem is not from this package,
but is from other package calling loadViewsFrom too early.

In my case,
I have VoyagerHooksServiceProvider calling loadViewsFrom function in its function register,
but at that time the app['view'] is not ready to use.
Functions like loadViewsFrom should be put into boot() instead of reg

[2018-09-05 15:10] jimpeters opened #40 "Laravel 5.7"
Plans to support Laravel 5.7?

[2018-10-02 00:07] mikerogne commented on #40
Submitted PR.

[2018-11-09 09:43] kyawkyawsoezhu commented on #36
@martijnc94 if you don't want to create extra blade file you can try this way.

    $html = view(['template' => '{{$token}}'], ['token' => 'I am the child template']);
    return $this->html($html->render());

[2018-11-12 10:07] #36 closed, assigned to nobody

[2018-11-12 10:08] martijnc94 commented on #36
@kyawkyawsoezhu That's the way I eventually figured out.

[2019-02-14 00:39] TerrePorter commented on #40
merged pr

[2019-02-14 00:39] #40 closed, assigned to nobody

[2019-02-14 00:48] TerrePorter commented on #37
@laf published a new release with this update for version 3.4

https://github.com/TerrePorter/StringBladeCompiler/releases/tag/3.4.2

[2019-03-05 07:06] gurinder-xyrintech opened #45 "New Version For Laravel 5.8 ?"
just want to know when will b release of wpb new version for laravel 5.8

[2019-03-19 19:54] mikerogne commented on #45
@gurinder-xyrintech branch 3.8 supports Laravel 5.8

[2019-03-21 19:48] ianmcqueen opened #49 "Versions >3.6 are not available via Composer/Packagist"
Hello,

I'm attempting to install the version 3.7 branch from Composer but I notice that on Packagist, only up to version 3.6 is included.

Is there a way to push the latest versions to Composer/Packagist? Thanks in advanced!

Best,
Ian

[2019-03-21 20:44] TerrePorter commented on #49
@ianmcqueen I had to reset up the hook to github. It should be updating now.

[2019-03-21 22:16] ianmcqueen commented on #49
Fixed! Thank you!

[2019-03-21 22:16] #49 closed, assigned to nobody

[2019-03-29 07:12] gurinder-xyrintech commented on #45
Thanku So much, i really need this
its working

[2019-03-29 07:12] #45 closed, assigned to nobody

[2019-04-02 10:39] laf commented on #37
@TerrePorter Awesome (sorry for the delay). Thank you so much

[2019-04-15 11:37] #37 closed, assigned to nobody

[2019-07-11 19:43] iamoskvin opened #50 "Is it possible use package in Lumen?"

[2019-07-11 23:43] TerrePorter commented on #50
@iamoskvin I don't know as I have not used Lumen yet in any projects. I remember reading about another package that was made to work with Lumen, that did the same thing as this package but I was not able to find it. I will look some more, but its been awhile since I read it.

[2019-08-30 06:53] drnkwati opened #51 "Extending string layout"
Hi
Is it possible to extend a layout from string.
That is providing a layout as string and extending from it

[2019-08-30 12:29] TerrePorter commented on #51
I don't think so at least not in the sense of using the @extends tag. I have not tried this, but you might be able to write a custom blade tag, then have that do what the normal @extends does, but with a string var that is being passed to the page. A custom extends tag more or less. I would have to refresh my memory on the code to confirm its possible but right now work has me stuck in WordPress l

[2019-09-20 13:16] gjm opened #52 "Support Laravel 6"

[2019-10-16 12:00] #29 closed, assigned to nobody

[2019-10-19 11:18] bretto36 commented on #52
Seconded

[2019-10-19 11:23] bretto36 commented on #52
#53

[2019-10-22 11:38] TerrePorter commented on #52
@gjm @bretto36 Sorry for the delay on getting this updated. [4.0](https://github.com/TerrePorter/StringBladeCompiler/tree/4.0) is now the Laravel 6 version. I will try to get my schedule worked around so that I can support it better.

[2019-10-22 11:38] #52 closed, assigned to nobody

[2019-10-22 11:45] #32 closed, assigned to nobody

[2019-10-22 11:45] #27 closed, assigned to nobody

[2019-10-22 11:46] #28 closed, assigned to nobody

[2019-10-22 11:46] #34 closed, assigned to nobody

[2019-10-29 05:26] edwinencomienda opened #54 "Can't install in laravel 6.4"

[2019-10-30 13:23] mediagraphik commented on #54
Same problem here, please make it accessible.

[2019-10-31 23:38] #54 closed, assigned to nobody

[2020-01-28 21:30] Cipa opened #56 "Can I use this in a resource to parse custom directives?"
A solution I found is:
`$parsedContent = \View::make(['template' => Blade::compileString($this->content)], ['token' => 'I am the child template'])->render();`

---
Hi,

I am trying to use this package in a Resource like below

$this->content has a custom directive:
` <p>@tv('test') Error voluptate</p>`

The blade directive is:
[code]

What would it take to have something like this working:
` 'pars

[2020-02-28 16:11] vdauchy commented on #54
Hi @TerrePorter ,
Your fix was pushed to the 4.0 branch but was not tagged which force the use of the branch as: "wpb/string-blade-compiler": "4.0.x-dev" in composer.json.
Could you tag your latest changes as 4.0.1 for example so we can stick to tag tracking in composer ?
Thanks for your work :-)

[2020-03-03 23:29] kchoppin opened #57 "Works in Laravel 7"
FYI. Just forked and bumped dep to Laravel 7, seems to work fine! 👍

[2020-04-02 19:40] jpscharf opened #60 "How do I run the tests?"
How do you setup an run the test?

## Trying to run tests… ##
1. Checkout the repository.
2. Run `composer install`
3. phpunit is not a dependency
4. `composer require -dev phpunit:^8`
5. `vendor/bin/phpunit`
  - `PHP Warning:  require(/Users/jscharf/Workspace/test/StringBladeCompiler-fork/tests/../../../vendor/autoload.php): failed to open stream: No such file or directory in /Users/jscharf/Works

[2020-05-23 05:55] zhanang19 commented on #57
Hello @kchoppin, have you try this package out compatible with Laravel 7 Component?
Thanks.

[2020-06-03 12:02] ahmad-saad commented on #57
@TerrePorter ,

when it works fine in Laravel 7 as @kchoppin said, can you please change the dep to laravel 7

Thanks

[2020-06-12 13:44] chris-rr commented on #57
@kchoppin Any ETA on the Laravel 7 dep bump?

[2020-06-15 13:36] chris-rr commented on #57
@TerrePorter Just +1ing the request to bump the dep, this currently preventing my Laravel 7 upgrade.

[2020-06-15 18:28] ahmad-saad commented on #57
hier is a Temp Package until @TerrePorter bump the dep.

https://packagist.org/packages/enbit/string-blade-compiler

[2020-08-31 21:35] TerrePorter commented on #57
Sorry have been extremely busy just now getting back to this

[2020-08-31 22:05] TerrePorter commented on #57
@ahmad-saad @chris-rr @zhanang19 I have created a new branch for L7

[2020-09-14 21:31] gwilymgj opened #63 "Problem getting it to autload in Laravel 7"
Hi there,

I have added this package to my project successfully:

- Laravel version: 7
- In my composer.json: "wpb/string-blade-compiler": "^5.0"

When I try and render the example though I get:

[code]

It looks to me like the package is not auto loading and replacing the view class?

If I run composer dump-autoload I get:

[code]

Any help much appreciated.

[2020-09-15 13:55] Kwaadpepper commented on #57
Works in Laravel 8 ? :)

[2020-09-15 15:09] Kwaadpepper opened #64 "Facade folder should be Facades PSR-0"
Every thing is in the title, since namespace is `namespace Wpb\String_Blade_Compiler\Facades;` the folder should be named Facades

[2020-09-15 19:44] aprelvovanya commented on #63
I temporarily switched to a branch [revert-59-laravel-7-and-autoload-blade-custom-directives](https://github.com/TerrePorter/StringBladeCompiler/tree/revert-59-laravel-7-and-autoload-blade-custom-directives)

[2020-09-15 21:38] TerrePorter commented on #57
@Kwaadpepper working on that, but seem to have the same problem in 7.

[code]

[2020-09-15 22:03] TerrePorter commented on #63
@netm @aprelvovanya  I moved the revert-59 to a new branch, https://github.com/TerrePorter/StringBladeCompiler/tree/5.0

But i too am getting the error that you mentioned. It is because the view is not being taken over by the code and it is using the default view instead. Looking in to this currently.

[2020-09-15 23:19] TerrePorter commented on #63
@netm I released a new version 5.0.1 that fixes that problem https://github.com/TerrePorter/StringBladeCompiler/releases/tag/5.0.1

[2020-09-16 05:46] Kwaadpepper commented on #57
I can already tell you that auto loader is not working.
Doing `composer update` will show packages loaded but not Sbl
**EDIT** Sorry I just saw that I used `4.0` branch. This is why it is not working i guess

[2020-09-16 09:20] veneliniliev opened #65 "[5.0.1] Segmentation fault (core dumped) / Maximum function nesting level of '512' reached, aborting!"
when update to 5.0.1 has this errors:

- Segmentation fault (core dumped) (in console)
- Maximum function nesting level of '512' reached, aborting! (in nginx/apache)

[2020-09-16 12:55] TerrePorter commented on #65
bummer, humm.... i had that happen once but it never happened again. I will see what i can figure out

[2020-09-16 12:59] TerrePorter commented on #65
@veneliniliev how complex is your template?

[2020-09-16 13:05] veneliniliev commented on #65
this errors show before compile template...

[2020-09-16 13:43] TerrePorter commented on #65
I am not getting the error here.

try isolating to confirm the error is in stringblade
[code]

[2020-09-18 12:13] TerrePorter commented on #64
@Kwaadpepper This has been fixed in versions 5 and 6

[2020-09-18 12:13] #64 closed, assigned to nobody

[2020-09-18 12:14] TerrePorter commented on #60
I never got all the tests working actually, not much of a TDD developer, although i should be

[2020-09-18 12:18] TerrePorter commented on #56
not sure, but i added this from someones fork related to custom directives

[code]

[2020-10-02 15:14] Ryllaz commented on #63
Same issue with Laravel v6.18.41 and StringBladeCompiler v6.0.2

[2020-11-08 15:43] DanielFortuyn opened #68 "Laravel 6 version 4 fresh install results in: strpos() expects parameter 1 to be string, array given"
After installing multiple versions of this package with Laravel 6, I cannot seem to get it to work.

As stated in the docs I've most recently tried version 4 of this package for laravel 6.

Trying the example:

`// string blade template load
return view (['template' => '{{$token}}'], ['token' => 'I am the token value']);`

I am confronted with the error from the title. Some other issues seem to be

[2020-11-16 17:06] #68 closed, assigned to nobody

[2020-11-16 17:07] DanielFortuyn commented on #68
I managed to fix it, something with the name of the service provider and the inclusion in app.php service providers:

StringBladeServiceProvider instead of ViewServiceProvider

[2020-12-04 08:51] matthaselip opened #69 "Method Wpb\String_Blade_Compiler\StringView::execute does not exist."
All i did was to following the instructions and receive the following error:
Method Wpb\String_Blade_Compiler\StringView::execute does not exist.

How can I get around this?

[2020-12-04 09:50] matthaselip commented on #69
no longer an issue

[2020-12-04 09:50] #69 closed, assigned to nobody

[2021-01-18 16:59] blackdrago opened #71 "[Version 4.0] Requires restrictive version of Laravel 6.x"
This package is great -- however, I hit a snag when trying to upgrade to Laravel 6.x:

[code]

The only way to install it is to downgrade from Laravel v6.20.12 to Laravel v6.0.4, which I can't do because it will cause conflicts with some of my other vendor packages.

EDIT: When I tried upgrading to v5.0, composer installs as expected, though I'm seeing errors... will follow up after testing.

[2021-01-25 22:25] AdamGaskins opened #73 "Breaks other packages that contain custom blade directives"
I installed [`spatie/laravel-ray`](https://github.com/spatie/laravel-ray) which has a `@ray()` directive for debug output, however the only way I can get this directive to work is by:

1. Adding `spatie/laravel-ray` to my `composer.json`'s `dont-discover`:
[code]
2. Add the `StringBladeCompilerServiceProvider` to my `app.php` directly after the standard `ViewServiceProvider` (and I comment it out

[2021-02-24 16:40] thomeijken opened #74 "Laravel 8 support"
Will you provide support for Laravel 8?

I'm currently unable to upgrade, since this library requires Laravel 6 or 7.

[2021-03-03 01:19] bretto36 commented on #74
@thomeijken  Looks like version 6 has 8 support - https://github.com/TerrePorter/StringBladeCompiler/blob/6.0.3/composer.json

[2021-04-19 14:56] PHChenGit opened #76 "Composer 2 support"
Is this package supporting composer 2? If not, Do you consider to support it?
Thanks.

[2021-05-10 10:20] Sauruz opened #77 "Compiler not working in queues"
Hi terreporter, great package! There's a problem i'm facing and don't know how to solve it.
I'm using compiled strings in my mailables like this:

`$template->body = view (['template' => $template->body], ['member' => $member->toArray()]);`

this works fine when sending mail like this:

`Mail::to($member->email)->send(new MemberMail($member));`

however the variables in the template are not render

[2021-05-10 14:13] Sauruz commented on #77
Nevermind, this is the way Laravel handles queues. $template is a model in my application. When you change the the model ($template->body) it's not changed in the DB. The queue fetches the model from te DB so it wont have the rendered body.

[2021-05-10 14:13] #77 closed, assigned to nobody

[2021-07-23 15:55] #38 closed, assigned to nobody

[2021-07-23 15:58] TerrePorter commented on #63
@Ryllaz can you create a new issue if your still having the problem. I missed your comment on this one. thanks

[2021-07-23 15:58] #63 closed, assigned to nobody

[2021-07-28 13:17] bernhardh opened #78 "Livewire support"
Not sure if this is intended, but livewire components aren't working.

[code]

I am getting "Undefined variable: _instance". Same livewire component inside a regular blade.php template is working.

[2021-12-22 15:00] danielzzz commented on #73
it breaks also livewire.
@livewireStyles and @livewireScripts don't work with this library

I did the same like you with laravel-ray and it worked for me. thanks!

[2021-12-22 15:39] AdamGaskins commented on #73
I made my own similar library that does the same thing without needing to replace the `ViewServiceProvider`. We've been using it in our products at my work this year. [`adamgaskins/view-string`](https://github.com/AdamGaskins/view-string)

[2021-12-22 15:42] danielzzz commented on #73
thats cool, thanks!

[2022-02-02 11:12] GonrasK opened #79 "Engine [stringblade] not found."
Hello all,
I am trying to run one of your basic examples -
`return view (['template' => '{{$token}}'], ['token' => 'I am the token value']);
`

And no matter what I tried, I keep getting this error which resolved in `vendor/wpb/string-blade-compiler/src/Factory.php:114`

[code]

[2022-02-10 01:40] 883 opened #80 "laravel 9 support"
I have been very much helped by this library for some time.
I also want to use string-blade-compiler in my laravel9 project.
Do you have any plans for support?

[2022-02-23 13:00] erik-ropez commented on #80
https://github.com/TerrePorter/StringBladeCompiler/pull/81

[2022-03-12 00:35] TerrePorter commented on #80
@883 @erik-ropez laravel 9 has built in support for on the fly blade template string rendering. https://laracasts.com/series/whats-new-in-laravel-9/episodes/5

[2022-03-14 10:26] erik-ropez commented on #80
True, but I have a lot of code depending on your `view(['template' => '...'])` syntax. Migrating everything to `Blade::render()` is time consuming.

[2022-03-22 01:29] TerrePorter commented on #80
@erik-ropez I see. that would be a lot of work. I have committed your pull request

[2022-07-06 11:08] erik-ropez commented on #80
@TerrePorter Could you make a new version release with Laravel 9 support. The last version is https://packagist.org/packages/wpb/string-blade-compiler#6.0.3 and it doesn't support v9.

[2022-08-10 21:46] TerrePorter commented on #80
@erik-ropez  I made a new version, 7.0, that is for laravel 9.

Sorry for taking so long

[2022-08-10 21:52] TerrePorter commented on #78
@bernhardh I haven't gotten a chance to really dig into this yet.

Have you tried the blade helper syntax?
[code]

[2022-08-10 22:09] TerrePorter commented on #76
@PHChenGit I really haven't looked into this yet. I see the benefits of using composer 2. I will see if I can make some time to figure out what needs to be changed and not break the existing config file. Unless you want to submit a pr

[2022-08-10 22:10] #74 closed, assigned to nobody

[2022-08-10 22:11] #73 closed, assigned to nobody

[2022-08-10 22:16] TerrePorter commented on #71
@blackdrago Sorry for never replying. If your still having problems feel free to post again.

[2022-08-10 22:16] #71 closed, assigned to nobody

[2022-08-10 22:16] #50 closed, assigned to nobody

[2022-08-10 22:16] #51 closed, assigned to nobody

[2022-08-10 22:17] #56 closed, assigned to nobody

[2022-08-10 22:17] #57 closed, assigned to nobody

[2022-08-10 22:18] #60 closed, assigned to nobody

[2022-08-10 22:18] #65 closed, assigned to nobody

[2022-08-10 22:20] TerrePorter commented on #79
@GonrasK Were you able to figure out the problem?